<h1>Edit Sponsored Post</h1>
<%= form_for [@sponsored_post.topic, @sponsored_post] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :body %>
	<%= f.text_field :body %>
	<%= f.label :price %>
	<%= f.number_field :price %>
	<%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
